.grid-control-item-selected {
    font-weight: 600;
    background: #f1f1f1!important;
    color: #8e8888;
}

.grid-control-floatLeft {
    float: left !important;
}

.grid-control-column-check-box {
    width: 35px !important;
}

.grid-control-no-margin {
    margin: 0 !important;
}

.vertical-align-top {
    vertical-align: top;
}

.table-scrollable {
    overflow: scroll;
    padding-bottom: 0;
}

.grid-control-pagination-greed {
    position: relative;
    width: 100%;
    float: left;
}

.grid-control-text-align-center {
    text-align: center!important;
}

.grid-control-pagination-greed .grid-control-number-pagination {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}

.grid-control-margin-top-20 {
    margin-top: 20px!important;
}

.pagination {
    margin: 0 !important;
}

.vs-table-scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 300px;
}